<div class="row" [formGroup]="form">
    <div class="form-group col-12 col-md-3">
        <label for="formInputFilterColumnName">Columna</label>
        <select class="form-control form-control-sm" id="formInputFilterColumnName" formControlName="field">
            <option [value]="c.field" *ngFor="let c of getColumns()">
                {{ c.title }}
            </option>
        </select>
    </div>
    <div class="form-group col-12 col-md-2">
        <label for="formInputFilterColumnOperator">Operador</label>
        <select class="form-control form-control-sm" id="formInputFilterColumnOperator" formControlName="op">
            <option [value]="op.value" *ngFor="let op of operators">{{op.title}}</option>
        </select>
    </div>
    <div class="form-group col-12 col-md-3">
        <label for="formInputFilterColumnValue">Valor</label>
        <input type="text" class="form-control form-control-sm" id="formInputFilterColumnValue" formControlName="value">
    </div>
    <div class="col-12 col-md-4 justify-content-center align-items-center">
        <button type="button" class="mb-0 mt-2 btn btn-success" (click)="aplicarFiltro()">Aplicar</button>
        <button type="button" class="mb-0 mt-2 btn btn-success" (click)="limpiarFiltros()">Limpiar filtros</button>
    </div>
    <!--    <div class="form-group col-12 col-md-2">-->
    <!--        <button type="button" class="btn btn-success">Limpiar Filtros</button>-->
    <!--    </div>-->
</div>
<div class="row">
    <div class="col col-md-2  mb-1 badge badge-pill badge-primary p-2" *ngFor="let f of filters">
        {{ f.field }} {{ f.op }} {{ f.value }}
    </div>
</div>
