:host {
  display: block;
  position: relative;
  height: auto;

  .columns-list {
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(auto-fill, 140px);
    grid-gap: 1rem;
    grid-auto-rows: minmax(40px, auto);
    margin-bottom: 2rem;

    .column-item {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      .column-title {
        font-size: .75rem;
        flex: 1 1 auto;
        margin-bottom: .3rem;
      }
    }
  }

  @media (max-width: 799px) {
    .columns-list {
      grid-template-columns: repeat(auto-fill, 160px);
    }
  }

}
