<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Configuración</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="columns-list">
        <ng-container *ngFor="let col of columns; let i = index">
            <div class="column-item" *ngIf="col.field.length > 0 && col.field !== '#'">
                <h5 class="column-title">{{ col.title }}</h5>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn m-0"
                            tooltip="Mostrar/Ocultar"
                            [ngClass]="{'btn-primary': col.visible, 'btn-outline-primary': !col.visible}"
                            (click)="toggleProperty(i, 'visible')">
                        <!-- <i class="icon-eye"></i> -->
                        <fa-icon [icon]="faEye"></fa-icon>
                    </button>
                    <button type="button" class="btn m-0"
                            tooltip="Habilitar/ deshabilitar filtro"
                            [ngClass]="{'btn-primary': col.headerFilter, 'btn-outline-primary': !col.headerFilter}"
                            [disabled]="col.field === 'estadoStr' || col.field === 'validado_origen' || col.field === 'estado_destino'
                            || col.field === 'empresa_paga' || col.field === 'cobroFaltantes'"
                            (click)="toggleProperty(i, 'headerFilter')">
                        <!-- <i class="icon-pencil"></i> -->
                        <fa-icon [icon]="faPencilAlt"></fa-icon>
                    </button>
                    <button type="button" class="btn m-0"
                            tooltip="Habilitar/ deshabilitar ordenamiento"
                            [ngClass]="{'btn-primary': col.headerSort, 'btn-outline-primary': !col.headerSort}"
                            (click)="toggleProperty(i, 'headerSort')">
                        <!-- <i class="icon-note"></i> -->
                        <fa-icon [icon]="faStickyNote"></fa-icon>
                    </button>
                    <button type="button" class="btn m-0"
                            tooltip="Bloquear / Desbloquear Columnas"
                            [ngClass]="{'btn-primary': col.frozen, 'btn-outline-primary': !col.frozen}"
                            (click)="toggleProperty(i, 'frozen')">
                            <fa-icon [icon]="faSuperscript"></fa-icon>
                        <!-- <i class="icon-support"></i> -->
                    </button>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="guardar()">Aplicar cambios</button>
</div>
