.tag-list {
  min-height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, .25);
  margin-bottom: 1rem;
}
.tag {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  //background: var(--primary);
  margin-bottom: .3rem;
  margin-right: .3rem;
  color: var(--light);
  border-radius: 3px;

  .tag-title {
    flex: 1 1 auto;
    min-width: 60px;
    font-size: 14px;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .handle {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: move;
  }

  .btn {
    color: var(--light);
    margin-bottom: 0;
  }
}


.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
