<div @list class="tag-list border-bottom" cdkDropList (cdkDropListDropped)="drop($event)" cdkDropListOrientation="horizontal">
    <div class="tag">
        <button class="btn btn-sm btn-danger" type="button" (click)="removeAll()" [disabled]="tagList.length === 0">
            <i class="icon-delete_sweep"></i>
        </button>
    </div>
    <div @items class="tag bg-blue" cdkDrag *ngFor="let c of tagList; let idx= $index">
        <div class="handle" cdkDragHandle>
            <i class="icon-drag_handle"></i>
        </div>
        <p class="tag-title">
            {{ c.title }}
        </p>
        <button class="btn btn-sm" type="button" (click)="removeAt(idx)">
            <i class="icon-x"></i>
        </button>
    </div>
</div>

