<div (click)="cambiarValor()">
  <fa-icon [icon]="faCheckSquare" *ngIf="data.preli === true"></fa-icon>
  <!-- <i class="ft-check-square custom-icon-style custom-green" *ngIf="data.preli === true"></i> -->
</div>
<div (click)="cambiarValor()">
  <fa-icon [icon]="faSquare" *ngIf="data.preli === false"></fa-icon>
  <!-- <i class="ft-square custom-icon-style" *ngIf="data.preli === false"></i> -->
</div>
