<div class="card m-0"
[ngClass]="
{'tabulator-noshadow' : flag_shadow === true, 'tabulator-semishadow' : flag_semishadow === true, 'tabulator-pseudoshadow': flag_pseudoshadow}
">
    <div class="card-content">
      <div class="card-header" *ngIf="descargar">
        <div class="header-table" [ngClass]="{'header-mensajes' : estiloMensaje === true}">
          <ng-content select="[card-header]"></ng-content>
          <div class="action-list" [ngClass]="{'action-size-a': flag_factura === true, 'action-size-b': flag_factura === false}">
            <ng-container *ngIf="datepicker">
              <app-tabulator-datepicker class="mb-0" (search)="dateRangePickerChange.emit($event)">
              </app-tabulator-datepicker>
            </ng-container>
            <ng-content select="[custom-action]"></ng-content>
          </div>
          <ng-content select="[custom-action-left]"></ng-content>
          <div class="boton-titulo" [ngClass]="{'size-50' : flag_size === true, 'size-less' : flag_size === false}">
            <ng-content select="[custom-boton-extra]"></ng-content>
            <div *ngIf="flagDescarga !== false">
              <button class="btn btn-outline-primary btn-sm button-icon-default-size"
              [ngClass]="{'btn-apexGray': flag_gray === true, 'btn-apexPurple-outline': flag_gray === true}"
              type="button" [appTabulatorDownload]="tableId">
                <fa-icon [icon]="faCloudDownloadAlt"></fa-icon>
              </button>
            </div>
            <div style="margin-left: 0.5%;" *ngIf="flagDescarga !== false">
              <button class="btn btn-outline-primary btn-apexPurple-outline btn-sm button-icon-default-size"
              [ngClass]="{'btn-apexGray': flag_gray === true, 'btn-apexPurple-outline': flag_gray === true}"
              [appTabulatorTriggerConfig]="tableComponent">
                <fa-icon [icon]="faTools"></fa-icon>
            </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="card-block">
            <ng-content select="[card-body]"></ng-content>
            <app-tabulator-filtro [table]="tableComponent" *ngIf="campo === true"></app-tabulator-filtro>
            <div id="collapseExample" class="contenedor-collapse" [ngbCollapse]="isCollapsed === false">
              <div class="collapse-botones">
                <div style="margin-left: 0.5%;">
                  <button class="btn btn-outline-primary btn-apexPurple-outline btn-sm boton-tama button-icon-default-size"
                  [ngClass]="{'btn-apexGray': flag_gray === true, 'btn-apexPurple-outline': flag_gray === true}"
                  *ngIf="botonConfig === true" (click)="crearConfig('agregar')">
                    <i class="icon-note"></i>
                  </button>
                </div>
                <div style="margin-left: 0.5%;">
                  <button class="btn btn-outline-primary btn-apexPurple-outline btn-sm boton-tama button-icon-default-size"
                  [ngClass]="{'btn-apexGray': flag_gray === true, 'btn-apexPurple-outline': flag_gray === true}"
                  [disabled]="flag_seleccionado === false" *ngIf="botonConfig === true" (click)="crearConfig('editar')">
                    <i class="icon-pencil"></i>
                  </button>
                </div>
                <div style="margin-left: 0.5%;">
                  <button class="btn btn-outline-danger btn-apexPurple-outline btn-sm boton-tama button-icon-default-size"
                  [ngClass]="{'btn-apexGray': flag_gray === true, 'btn-apexPurple-outline': flag_gray === true}"
                  [disabled]="flag_seleccionado === false" *ngIf="botonConfig === true" (click)="eliiminarConfig()">
                    <i class="icon-trash"></i>
                  </button>
                </div>
                <div style="margin-left: 0.5%;">
                  <select class="form-control select-tama input-default-size" [(ngModel)]="select_config" *ngIf="botonConfig === true" (change)="selectConfig($event)">
                    <option [ngValue]="null" selected disabled>Seleccionar</option>
                    <option *ngFor="let item of data_config" [ngValue]="item.id">{{ item.titulo }}</option>
                  </select>
                </div>
              </div>
            </div>
            <app-table #tableComponent [settigns]="settigns" [columns]="columns" [data]="data" [tableId]="tableId"></app-table>
        </div>
      </div>
    </div>
</div>
