:host /deep/ {
  .card-header {
    display: flex;
    justify-content: space-between;

    .action-list {
      display: flex;
      width: 50%;

      .btn {
        margin-bottom: 0;
      }

      & > * {
        &:not(:last-child) {
          margin-right: .3rem;
        }
      }
    }
  }
}

.action-size-a {
  width: 100% !important;
}

.action-size-b {
  width: 50% !important;
}

.toast-success {
  background-color: #51A351;
}

.toast-error {
  background-color: #BD362F;
}

.toast-info {
  background-color: #2F96B4;
}

.toast-warning {
  background-color: #F89406;
}

.header-table {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
}

.boton-titulo {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.size-50 {
  width: 50%;
}

.size-less {
  width: 30%;
}

.header-mensajes {
  flex-flow: column !important;
  align-items: center;
}

.extra-accion {
  width: 100%;
}

/* .select-tama {
  height: 30px;
} */

.boton-extra {
  margin-top: -9%;
  z-index: 9999;
  position: absolute;
  //margin-left: -5%;
}

.tabulator-noshadow {
  box-shadow: none !important;
  border: 0 !important;
}

.tabulator-semishadow {
  box-shadow: -4px 4px 10px 0 rgba(25, 42, 70, 0.03) !important;
  border: none;
}

.tabulator-pseudoshadow {
  box-shadow: -4px 4px 10px 0 rgba(25, 42, 70, 0.11) !important;
  border: none;
}

.contenedor-collapse {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  padding-bottom: 1rem;
  border-top: 1px solid #d6d5d5;
}

.collapse-botones {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  padding-top: 1%;
}
