<div class="container">
  <div id="tabla-tabulatora">

    <div class="tabulator-pendiente" [hidden]="flag_tabla === false">
      <app-tabulator [tableId]="tableId" [settigns]="settigns" [data]="datos" [temporal]="true"
        [columns]="columns_pendientes" [flag_gray]="true" [flag_shadow]="true" [botonConfig]="true"
        [entidadTabla]="'TablaPrincipalComponent'">
        <!-- <ng-container custom-action>
          <form [formGroup]="form_factura">
            <div class="gestion-botones">
              <div class="form-group hidden">
                <div class="input-group">
                  <input name="datepickera" class="form-control input-custom-datepicker-fromdate" ngbDatepicker
                    #datepickera="ngbDatepicker" [autoClose]="'outside'" (dateSelect)="onDateSelection($event)"
                    [displayMonths]="2" [dayTemplate]="ta" outsideDays="hidden" [startDate]="fromDate!" tabindex="-1">
                  <ng-template #ta let-date let-focuseda="focuseda">
                    <span class="custom-day" [class.focused]="focuseda" [class.range]="isRange(date)"
                      [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                      (mouseleave)="hoveredDate = null">
                      {{ date.day }}
                    </span>
                  </ng-template>
                </div>
              </div>
              <div class="form-group custom-fecha-separador">
                <div class="input-group custom-box-datepicker-fromdate">
                  <input #dpFromDatea class="form-control input-default-date-size input-custom-datepicker-fromdate" readonly
                    placeholder="yyyy-mm-dd" name="dpFromDatea" [value]="formatter.format(fromDate)"
                    (input)="fromDate = validateInput(fromDate, dpFromDatea.value)">
                </div>
              </div>
              <div class="form-group ml-2" style="margin-right: 1%;">
                <div class="input-group custom-box-datepicker-todate">
                  <input #dpToDatea class="form-control input-default-date-size input-custom-datepicker-todate" readonly
                    placeholder="yyyy-mm-dd" name="dpToDatea" [value]="formatter.format(toDate)"
                    (input)="toDate = validateInputa(toDate, dpToDatea.value)">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary boton-calendario-datepicker calendar"
                      (click)="datepickera.toggle()" type="button"><i class="ft-chevron-down"></i></button>
                  </div>
                </div>
              </div>
              <div class="separador">
                <select class="form-control input-default-size-c" formControlName="origen">
                  <option [ngValue]="null" selected>Origen</option>
                  <option *ngFor="let item of data_head.origen" [ngValue]="item" [innerHTML]="item"></option>
                </select>
              </div>
              <div class="separador">
                <select class="form-control input-default-size-c" formControlName="destino">
                  <option [ngValue]="null" selected>Destino</option>
                  <option *ngFor="let item of data_head.destino" [ngValue]="item" [innerHTML]="item"></option>
                </select>
              </div>
              <div class="separador">
                <select class="form-control input-default-size-c" formControlName="transportadora">
                  <option [ngValue]="null" selected>Transportadora</option>
                  <option *ngFor="let item of data_head.transportadoras" [ngValue]="item" [innerHTML]="item"></option>
                </select>
              </div>
              <div class="form-group form-group-sm mb-0 separador">
                <button class="btn btn-outline-primary btn-apexSuccess btn-sm button-icon-default-size"
                  (click)="activarFiltro()">
                  <i class="datatable-icon-search"></i>
                </button>
              </div>
            </div>
          </form>
        </ng-container> -->
        <ng-container custom-action>
<div class="row" style="margin-left: 0 !important;">
  <div class="col-12" style="margin-left: 0.5rem;">
    <div class="content-header">
      Facturación de despachos
    </div>
  </div>
</div>
        </ng-container>
        <ng-container custom-boton-extra>
          <div class="form-group form-group-sm mb-0 separador">
            <button class="btn btn-outline-primary btn-apexWarning btn-sm button-icon-default-size"
              [disabled]="arrayEditar.length === 0" (click)="controlArrayTodas('retirar')">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </div>
          <div class="form-group form-group-sm mb-0 separador">
            <button class="btn btn-outline-primary btn-apexSuccess btn-sm button-icon-default-size"
              *ngIf="select_all === false" (click)="controlArrayTodas('todas')">
              <fa-icon [icon]="faSquare"></fa-icon>
            </button>
          </div>
          <div class="form-group form-group-sm mb-0 separador">
            <button class="btn btn-outline-primary btn-apexSuccess btn-sm button-icon-default-size"
              *ngIf="select_all === true" (click)="controlArrayTodas('retirar')">
              <fa-icon [icon]="faCheckSquare"></fa-icon>
            </button>
          </div>
          <div class="form-group form-group-sm mb-0 separador">
            <button class="btn btn-primary btn-sm button-warning-size" [disabled]="arrayEditar.length === 0"
              [ngClass]="{'btn-apexDefaults': arrayEditar.length === 0, 'btn-apexSuccess': arrayEditar.length > 0}"
              style="width: 150px !important;" (click)="modalGenerar()">
              <span class="proxima">Facturar ({{arrayEditar.length}})</span>&nbsp;
            </button>
          </div>
        </ng-container>
      </app-tabulator>
    </div>
  </div>
</div>
