<div class="modal-header">
  <i class="icon-not_interested black" style="font-size: 1.4rem">
    <span class="black pl-1 pt-1 text-n">Eliminar.</span>
  </i>
  <button type="button" class="close pull-right" (click)="clear()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>¿Está seguro de eliminar el registro?</p>
</div>
<div class="t-boton">
  <button type="button" class="btn btn-success" (click)="deleteRegistro()">
    Aceptar</button>
</div>
