<div class="modal-header">
  <h4 *ngIf="seccion === 'agregar'">Guardar Configuración</h4>
  <h4 *ngIf="seccion === 'editar'">Editar Configuración</h4>
  <button type="button" class="close pull-right" (click)="clear()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" class="form">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="nombre_config">Nombre Configuracion</label>
        <input type="text" id="nombre_config" placeholder="Nombre Configuración" autocomplete="off"
               class="form-control estilo-formulario" name="nombre_config" formControlName="nombre_config">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label for="nombre_config">Config. Predeterminada</label>
        <select id="producto" class="form-control estilo-formulario" formControlName="tipo">
          <!-- <option selected disabled [ngValue]="'NO'">Seleccione un tipo</option> -->
          <option [ngValue]="'SI'">SI</option>
          <option [ngValue]="'NO'">NO</option>
        </select>
      </div>
    </div>

    <div class="tab-footer">
      <div class="botones-right">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" (click)="saveConfig()" [disabled]="form.invalid">
            <span *ngIf="seccion === 'agregar'">Registrar</span>
            <span *ngIf="seccion === 'editar'">Actualizar</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
