<div class="modal-header">
  <h4 class="modal-title pull-left">Datos seleccionados
  </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="clear()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <p>Tienes seleccionado un total de <b>{{data_show.length}}</b></p>
</div>

<div class="modal-footer">
  <div class="boton-extra">
    <button class="btn btn-outline-primary" (click)="clear()">
      <i class="ft-close"></i>&nbsp; <span class="proxima">Cerrar</span>
    </button>
  </div>
</div>
