@import "~bootstrap/scss/bootstrap";
@import "~tabulator-tables/dist/css/tabulator.min.css";
@import "~tabulator-tables/dist/css/tabulator_simple.css";

.tabulator {
  font-size: 12px;
  border: none;
  background-color: transparent;
  --calc-row-cell-bg: var(--light);
  --cell-bg: var(--light);


  .tabulator-row {
    --frozen-color: white;
    border-bottom: 1px solid;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    vertical-align: middle;
    background-color: var(--frozen-color);

    &.tabulator-row-even {
      --frozen-color: #f2f2f2;
      --cell-bg: #f2f2f2;;
    }

    &.tabulator-selectable:hover {
      background-color: rgba(black, .1);
    }

    .tabulator-cell {
      padding: .3rem .15rem;
      border-right: none;
      vertical-align: middle;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      white-space: normal;
      background-color: var(--cell-bg);
    }
  }

  .tabulator-header {
    font-weight: normal;
    border-bottom: 1px solid;
    background-color: var(--primary) !important;

    .tabulator-col {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      .tabulator-col-content .tabulator-col-title {
        white-space: normal;
        text-align: center;
        flex: 1 1 auto;
        color: var(--light);
      }
    }

    .tabulator-header-filter {
      input {
        @extend .form-control, .form-control-sm;

        &[type="search"] {
          height: 1.5rem;
        }

        &[type="checkbox"] {
          height: 1rem;
        }
      }
    }
  }

  .tabulator-table {
    background-color: transparent !important;

    .tabulator-cell {
      color: var(--dark) !important;
    }
  }

  .tabulator-col {
    border-right: none !important;
    padding: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--dark);
    transition: background-color 300ms ease;
    white-space: normal;

    &:not(.tabulator-frozen) {
      background-color: transparent !important;
    }

    &.tabulator-frozen {
      background-color: var(--primary);
    }

  }

  .tabulator-calcs-holder {
    background-color: var(--primary) !important;

    .tabulator-calcs {
      background-color: transparent !important;
      color: var(--light);

      .tabulator-cell {
        --frozen-color: var(--primary);
      }
    }
  }

  .tabulator-footer {
    background-color: transparent;

    .tabulator-calcs-holder {
      .tabulator-cell {
        color: var(--dark) !important;
      }
    }

    .tabulator-paginator {
      color: var(--dark) !important;

      .tabulator-page {
        @extend .btn, .btn-sm;
        color: var(--dark) !important;

        &.active {
          background-color: var(--primary) !important;
          color: var(--light) !important;
        }
      }

      .tabulator-page-size {
        @extend .form-control-plaintext;
        width: auto !important;
        display: inline-block;
        background-color: transparent;
        color: var(--dark);
      }
    }
  }
}

a:link {
  text-decoration: none !important;
}

.toast-success {
  background-color: #51A351;
}

.toast-error {
  background-color: #BD362F;
}

.toast-info {
  background-color: #2F96B4;
}

.toast-warning {
  background-color: #F89406;
}
