/* You can add global styles to this file, and also import other style files */
/*TABULATOR NUEVO CSS*/
#tabla-tabulatora
  app-tabulator
  .card
  .card-content
  .card-body
  .card-block
  app-table
  .tabulator
  .tabulator-header {
  /* background-image: linear-gradient(#e9f3f1, #ffffff) */
  background-image: linear-gradient(#ededed, #ededed);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-bottom: 0;
  font-family: proxima !important;
}

#tabla-tabulatora
  app-tabulator
  .card
  .card-content
  .card-body
  .card-block
  app-table
  .tabulator
  .tabulator-col.tabulator-frozen {
  /* background-image: linear-gradient(#e9f3f1, #ffffff); */
  background-image: linear-gradient(#ededed, #ededed);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-family: proxima !important;
}

#tabla-tabulatora
  app-tabulator
  .card
  .card-content
  .card-body
  .card-block
  app-table
  .tabulator
  .tabulator-row.tabulator-selectable.tabulator-row-odd {
  --cell-bg: #ffffff !important;
  /* background: #FFFFFF; */
  border-radius: 5px;
  /* font-family: Proxima Nova !important; */
  color: #4f4f4f;
  font-size: 15px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 15px !important;
  letter-spacing: 0em !important;
  text-align: center !important;
  font-family: proxima !important;
}

#tabla-tabulatora
  app-tabulator
  .card
  .card-content
  .card-body
  .card-block
  app-table
  .tabulator
  .tabulator-row.tabulator-row-even {
  --cell-bg: #ffffff !important;
  --frozen-color: #ffffff !important;
  /* font-family: Proxima Nova !important; */
  color: #4f4f4f;
  font-size: 15px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 15px !important;
  letter-spacing: 0em !important;
  text-align: center !important;
  font-family: proxima !important;
}

#tabla-tabulatora
  app-tabulator
  .card
  .card-content
  .card-body
  .card-block
  app-table
  .tabulator
  .tabulator-row.tabulator-selectable.tabulator-row-odd:hover {
  --cell-bg: #ffffff !important;
  /* --cell-bg: #f3f3f3 !important; */
  /* font-family: Proxima Nova !important; */
  color: #4f4f4f;
  font-size: 15px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 15px !important;
  letter-spacing: 0em !important;
  text-align: center !important;
  font-family: proxima !important;
}

#tabla-tabulatora
  app-tabulator
  .card
  .card-content
  .card-body
  .card-block
  app-table
  .tabulator
  .tabulator-row.tabulator-row-even:hover {
  --cell-bg: #ffffff !important;
  /* --cell-bg: #f3f3f3 !important; */
  /* --frozen-color: #f3f3f3 !important; */
  --frozen-color: #ffffff !important;
  font-family: proxima !important;
}

#tabla-tabulatora
  app-tabulator
  .card
  .card-content
  .card-body
  .card-block
  app-table
  .tabulator
  .tabulator-row
  .tabulator-cell {
  height: 50px !important;
  /* font-family: Proxima Nova !important; */
  color: #4f4f4f;
  font-size: 15px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 15px !important;
  letter-spacing: 0em !important;
  text-align: center !important;
  font-family: proxima !important;
}

#tabla-tabulatora
  app-tabulator
  .card
  .card-content
  .card-body
  .card-block
  app-table
  .tabulator
  .tabulator-row
  .tabulator-cell
  .tabulator-frozen
  .tabulator-frozen-left {
  /* background-color: #f2f2f2 !important; */
  background-color: #ffffff !important;
  font-family: proxima !important;
}

#tabla-tabulatora
  app-tabulator
  .card
  .card-content
  .card-body
  .card-block
  app-table
  .tabulator
  .tabulator-header
  .tabulator-col
  .tabulator-col-content
  .tabulator-col-title {
  color: #000 !important;
  font-family: proxima !important;
}

#tabla-tabulatora
  app-tabulator
  .card
  .card-content
  .card-body
  .card-block
  app-table
  .tabulator
  .tabulator-footer {
  border-top: 0rem solid #999 !important;
  font-family: proxima !important;
}

#tabla-tabulatora
  app-tabulator
  .card
  .card-content
  .card-body
  .card-block
  app-table
  .tabulator
  .tabulator-footer
  .tabulator-calcs-holder {
  background: #ffffff !important;
  font-family: proxima !important;
}

#tabla-tabulatora
  app-tabulator
  .card
  .card-content
  .card-body
  .card-block
  app-table
  .tabulator
  .tabulator-footer
  .tabulator-calcs-holder
  .tabulator-row {
  background: #ffffff !important;
  font-family: proxima !important;
}
