<!--<form>
    <div class="mb-0 input-group form-group position-relative has-icon-left">
        <input type="text" id="date-range" class="form-control"
               [bsConfig]="bsConfig"
               bsDaterangepicker [formControl]="control"
               autocomplete="off">
        <div class="form-control-position">
            <label for="date-range" class="mb-0">
                <i class="icon-calendar font-medium-2"></i>
            </label>
        </div>
        <div class="input-group-append">
            <button type="button" (click)="emit()" class="btn btn-sm btn-primary btn-block">
                <i class="icon-search"></i>
            </button>
        </div>
    </div>
</form>-->
